@import 'https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;1,700&display=swap";@import"https://fonts.googleapis.com/icon?family=Material+Icons';
@import './base.scss';
@import './fonts.scss';
@import './toast.scss';

#app {
  margin: 0 auto;
  font-weight: normal;
  width: 100%;
  scrollbar-width: thin;
}



@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
