.slide-enter-active, .slide-leave-active {
    transition: all .3s ease;
}
.slide-enter-from, .slide-leave-to {
    transform: translateX(-100%);
    opacity: 0;
}
.slide-enter-to, .slide-leave-from {
    transform: translateX(0);
    opacity: 1;
}